@CHARSET "UTF-8";
body{
	 background-image: url("../img/background.jpg");
}

.all{
	width: 1000px;
	margin: 0 auto;	
	height: 100%;
	
}

.header{
	padding: 10px;
	padding-left: 25px; 
	margin: 10px;
}

.aside{
	float: left;
	
	width: 30%;
	
}

.content{
	float: left;
	width: 70%;
	padding-bottom: 100px;
	
}

.footer{
	clear: both;
	height: 50px; 
 	
 	position: absolute;
 	bottom: 0;
 	width: 1000px;
 	padding-left: 25px; 
	margin: 10px;
	
}

A{
	font-size: 20px;
	margin: 10px;
	color: white;
	text-decoration: none;
} 
 
 A:hover {
   color: #f29b67 ;
} 
   
.table-style-add{
	border-collapse: collapse;
	margin:50px;
	width:600px;
} 

h2{
	text-align: center;
} 
h3{
	margin:50px;
}
.text{
	 color: white;
	 text-shadow: black 0 0 5px;
	}
.table-style{
	text-align:  center;
	border-collapse: collapse;
	
	width:700px;
}
.table-style td{
	border: 1px solid white;
	width:200px;
	text-align:  center;
}	
   
img{
	
	float: right;
	width: 400px;
	height: 300px;
	
	border-radius: 7px;
	box-shadow: 5px 5px;
} 

.input-search{
	margin-top:50px;
	width: 600px;
	}

.input{
	margin: 10px;
}

.textarea{
	margin: 10px;
}

.save-button{
	width: 180px;
}


