@CHARSET "UTF-8";
body{
	 background-image: url("../img/background.jpg");

}

A{
	font-size: 20px;
	margin: 10px;
	color: white;
	text-decoration: none;
	
   } 
 
 A:hover {
   
   color: #f29b67 ;
   
   } 
.header{
	position: relative;
	padding: 10px;
	padding-left: 25px; 
	margin: 10px;
	border-radius: 5px;
}
.center{
	position: relative;
	margin-left:20%;
	padding:5px;
	height: 10000px;
	width: 800px;
	
}
.add-form{
	position: relative;
	margin-left:35%;
	padding:5px;
	height: 550px;
	width: 400px;
	border: 1px solid black ;
	border-radius: 5px;
}
.input-search{
	width: 700px;
	}
.footer{
	position: relative;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	
	
}

input{
	margin: 10px;
}
textarea{
	margin: 10px;
}
table{
	border-collapse: collapse;
}
.display-table td{
	border: 1px solid black;
	width:200px;
	text-align:  center;
}
h2{
	color: white;
	margin-left: 10px;
	text-shadow: 1px 1px 2px black,
}
.save-button{
	width: 180px;
}
p{
	margin: 10px;	
}
img{
	
	float: right;
	width: 400px;
	height: 300px;
	border-radius: 7px;
	box-shadow: 5px 5px;
	
}
